td {
    min-width: 100px;
    max-width: 300px;
    padding: 5px;
    height: 30px;
}

.td-inner {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table {
    margin: 15px 0;
    border: 1px solid black;
    width: 800px;
}